.container { 
    max-width: 320px;
    padding: 0 16px;  
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container { 
        max-width: 768px;
    }
}    

@media screen and (min-width:1158px) {
    .container { 
        max-width: 1158px;
        padding: 0 15px;   
    }
}
h1,
h2,
h3,
p {
    margin: 0;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration:none;
}
ul, ol { 
    list-style-type:none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*header*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav, .contacts {
    display: none;
}
.logo-header {
    display: block;
    padding: 16px 0;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;

    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.logo-text {
    color:#4d5ae5;
}
.mb-menu-icon {
    border: none;
    padding: 0;
    background-color: transparent; 
}
.icon-heroicons-menu-mb {
    display: block;
    fill: #2f2f37;
}
@media screen and (min-width: 768px) {
    .logo-header {
        padding: 24px 0;
        margin-right: 120px;
    }
    .mb-menu-icon {
        display: none;
    }
    .header-nav {
        display: flex;
        align-items: center;
    }
    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .menu-set {
        display: block;
        padding: 24px 0;
        font-size:16px;
        font-weight:500;
        line-height:1.5;
        letter-spacing:0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .menu-set.current {
        position: relative;
    }
    .menu-set.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }
    .menu-set:hover, .menu-set:focus, .menu-set.current {
        color:#404bbf;
    }
    .contacts {
        font-style:normal;
        display: block;
    }
    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .contacts-link {
        display: block;
        font-weight: 400;
        font-size: 12px;
        /* line-height: 14px; */ 
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contacts-link:hover, 
    .contacts-link:focus {
        color:#404bbf;
    }
}   
@media screen and (min-width:1158px) {
    .header-container {
        display: flex;
        align-items: center;
    }
    .logo-header {
        margin-right: 76px;
    }
    .contacts {
        margin-left: auto;
    }
    .contacts-list {
        align-items: center;
        gap: 40px;
        flex-direction: row;
    }
    .contacts-link {
        padding: 24px 0;
        font-size:16px;
        line-height:1.5;
        letter-spacing:0.02em;
    }
} 

/*SECTION HERO*/
.hero {
    padding: 72px 0;
    background-color:#2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/mobile-people-office-1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
}
@media (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/mobile-people-office-2x.jpg');
    }
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;

    /* line-height: 40px; */ 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.button {
    display: block;
    margin-top: 72px;

    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);    
    background-color:#4d5ae5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color:#ffffff;
    font-size: 16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing:0.04em;
}
.button:hover, .button:focus {
    background-color:#404bbf;
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tablet-people-office-1x.jpg');
        max-width: 768px;
    }
    @media (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tablet-people-office-2x.jpg');
    }
    }
    .hero-title {
        max-width: 496px;

        font-size:56px;
        line-height:1.07;
    }
    .button {
        margin-top: 36px;
    }
}

@media screen and (min-width:1158px) {
    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/screen-people-office-1x.jpg');
        max-width: 1440px;
    }
    @media (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/screen-people-office-2x.jpg');
    }
    }
    .button {
        margin-top: 48px;
    }
}

/*SECTION FEATURES*/
body {
    font-family:"Roboto", sans-serif;
    line-height:1.5;
    letter-spacing:0.02em;
    color:#434455;
    background-color:#ffffff;
}
.features {
    padding: 96px 0;
}
.features-block {
    display: block;
}
.features-item {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.features-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.icon-border {
    display: none;
}
.title-2 {
    margin-bottom: 72px;
    font-size:36px;
    line-height:1.11;
    letter-spacing:0.02em;
    text-align:center;
    color:#2e2f42;
}
.title-3 {
    font-weight: 500;
    font-size: 20px;

    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
p {
    font-weight: 400;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.features-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
}
.features-text {
    font-weight: 500;
}
@media screen and (min-width: 768px) {
    .features-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        gap: 72px 24px;
    }
    .features-list {
        flex: 1 1 calc((100% - 24px) / 2);
    }
    .features-title {
        text-align: left;
    }
}

@media screen and (min-width:1158px) {
    .features {
        padding: 120px 0;
    }
    .features-item {
        display: flex;
        gap: 24px;

        max-width: 1440px;
    }
    .features-list {
        flex: 1 1 calc((100% - 72px) / 4);
    }
    .features-text {
        font-weight: 400;
    }
    .features-title {
        font-weight: 500;
        font-size: 20px;

        line-height: 1.2;
    }
    .icon-border { 
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        gap: 24px;
        width: 264px;
        height: 112px;
    }
    .title-3 {
        font-weight: 500;
        font-size:20px;
    
        line-height:1.2;
    }
}

/*SECTION TEAM*/
.images-container {
    padding: 0 28px;
}
.team {
    padding: 96px 0;
    background-color:#f4f4fd;
}
.team-item {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 0 0 4px 4px;
    max-width: 100%;

    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
}
.team-text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 8px;

    padding: 32px 16px;
}
.social-icons-item { 
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 24px
} 
.soc-icons-list { 
    width: calc((100% - 72px) / 4);
}
.icons-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    fill: #f4f4fd; 
    background-color: #4d5ae5; 
    border-radius: 50%; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-button:hover, .icons-button:focus {
    background-color: #404bbf; 
}
@media screen and (min-width: 768px) {
    .images-container {
        padding: 0 108px;
    }
    .team-item {
        flex-direction: row;
        flex-wrap: wrap;
       
        max-width: 100%;
        gap: 64px 24px;
    }
    .team-list {
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width:1158px) {
    .images-container {
        padding: 0 15px;  
    }
    .team {
        padding: 120px 0;
    }
    .team-item {
        gap: 24px;
    }
    .team-list {
        width: calc((100% - 72px) / 4);
    }
}

/*SECTION PORTFOLIO*/
.portfolio {
    padding: 96px 0;
    background-color: #ffffff;
}
.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
.portfolio-list {
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 100%;
}
.portfolio-list:hover,
.portfolio-list:focus {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.img-content-wrapper {
    overflow: hidden;
    position: relative;
}
/*
.img-content-wrapper img {
    width: 100%;
    height: auto;

    object-fit: cover;
    object-position: left;
}*/
.fon-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    border: 1px solid #4d5ae5;
    background-color: #4d5ae5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}
.portfolio-list:hover .fon-content,
.portfolio-list:focus .fon-content {
    transform: translateY(0);
}
.portfolio-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}
@media screen and (min-width: 768px) {
    .portfolio-item {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .portfolio-list {
        flex: 1 1 calc((100% - 24px) / 2);
    }
}
@media screen and (min-width:1158px) {
    .portfolio {
        padding: 120px 0;
    }
    .portfolio-item {
        flex-wrap: wrap;
        gap: 48px 24px;
    }
    .portfolio-list {
        box-shadow: none;
        flex: 1 1 calc((100% - 48px) / 3);
    }
}

/*FOOTER*/
.footer {
    padding: 96px 0;
    background-color: #2e2f42;
}
.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.text {
    color: #f4f4fd;
}
.logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}
.logo-text-1 {
    color:#f4f4fd;
}
.text-icons {
    display: block;

    text-align: center;
    font-weight: 500;
    color: #ffffff;

    margin-bottom: 16px;
}
.footer-icons-item {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.footer-social-icons {
    display: block;

}
.footer-icons-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    fill: #f4f4fd; 
    background-color: #4d5ae5; 
    border-radius: 50%; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-button:hover, .footer-icons-button:focus {
    background-color: #31D0AA; 
}
.footer-subscribe-email {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.subscribe-title {
    display: block;
    flex-direction: column;
    text-align: center;

    font-weight: 500;
    color: #ffffff;
}
.subscribe-form {
    display: flex;
}
.subscribe-row {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    gap: 16px;
}
input {
    font-family: inherit;
}
.subscribe-email {
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}
.subscribe-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.subscribe-email[type="email"] {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    padding: 8px 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #2E2F42;
}
.subscribe-email[type="email"]:hover,
.subscribe-email[type="email"]:focus {
    border-color: #31D0AA;
    outline: none;
}
.subscribe-button { 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    padding: 8px 24px;
    gap: 16px;
    min-width: 165px;
    height: 40px;
    border: none;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover, .subscribe-button:focus {
    background-color: #31D0AA;
}
.send-icon {
    display: block;
    fill: #ffffff;
}
@media screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;

    }
    .text {
        max-width: 264px;
    }
    .logo-footer {
        display: inline-block;
    }
    .text-icons {
        text-align: left;
    }
    .footer-social-icons {
        align-items: baseline;
    
    }
    .footer-subscribe-email {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;

        width: 453px;
        height: 80px;
    }
    .subscribe-title {
        max-width: 100%;
        text-align: left;
    }
    .subscribe-row {
        flex-direction: row;
        gap: 24px;
    }
    .subscribe-email[type="email"] {
        width: 264px;
    }
}
@media screen and (min-width:1158px) {
    .footer-container {
        align-items: baseline;
    }  
    .footer {
        padding: 100px 0;
    }
    .footer-container {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
    }
    
    .footer-social-icons {
        margin-left: 120px;
    }
    .footer-subscribe-email {
        align-items: flex-start;
        margin-left: auto;
    }
}

/*mobile menu window*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}
@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}
.icon-close-bnt {
    position: absolute;
    top: 24px;
    right: 24px;
}
.close-bnt {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #2E2F42;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;

    transition: 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-bnt:hover,
.close-bnt:focus {
    fill: #ffffff;
    background-color: #404BBF;
}
.mob-nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: auto;
}
.mob-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
 
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.menu-studio {
    color: #404bbf;
}
.mobile-contacts {
    margin-bottom: 48px;
}
.mob-contacts-item {
    font-style:normal;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.mob-contacts-link {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.menu-tel {
    color: #4D5AE5;
}
.mob-soc-icons-item { 
    display: flex;
    gap: 40px;
}
.mob-soc-icons-list {
  width: calc((100% - 120px) / 4);  
}
.mobile-icons-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    fill: #f4f4fd; 
    background-color: #4d5ae5; 
    border-radius: 50%; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.mobile-icons-button:hover, .mobile-icons-button:focus {
    background-color: #404bbf; 
}

/*MODAL WINDOW*/
.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: relative;
    width: 288px;
    min-height: 623px;

    background-color: #fcfcfc;
    border-radius: 4px;

    padding: 72px 16px 24px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.14),
                0 1px 3px rgba(0,0,0,0.12),
                0 2px 1px rgba(0,0,0,0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.form-box {
    border-radius: 4px;
    width: 256px;
    min-height: 336px;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form-box-label {
    font-weight: 400;
    font-size: 12px;

    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

    display: block;
    margin-bottom: 0;
}
.form-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.modal-text {
    margin: 0 0 16px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.input-wrapper {
    position: relative; 
}
.input-wrapper-position {
    width: 100%;
    height: 40px;

}
.icon-box {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 0px;
}
.person-icon {
    fill: #2e2f42;
    display: block;
}
.divider {
    width: 1.25px;
    height: 18px;
    background-color: #2e2f42;
    border-radius: 2px;
    margin-left: 0;
}
.input-wrapper:focus-within .person-icon {
    gap: 4px;
    fill: #4D5AE5;
}
.input-wrapper:focus-within .divider {
    background-color: #000000;
    margin-left: 4px; 
}
.input-wrapper input {
    width: 100%;
    height: 40px;

    padding-left: 34px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper input:focus {
    outline: none;
}
.phone-icon, .email-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    align-items: center;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper:focus-within input {
    border-color: #4d5ae5;
}
.input-wrapper:focus-within .phone-icon,
.input-wrapper:focus-within .email-icon {
    fill: #4d5ae5;
}
.textarea-box {
    display: block;
    font-weight: 400;
    font-size: 12px;
 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    margin-bottom: 0;
    width: 100%;
    height: 120px;

    padding: 8px 16px;
    resize: none;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-box:focus {
    border-color: #4d5ae5;
    outline: none;
}
.textarea-box:focus-within {
    outline: none;
}
.check-box {
    margin-top: 16px;
    margin-bottom: 24px;
}
.custom-checkbox {
    display: inline-flex;

    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;

    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);

    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    flex-shrink: 0;
}
.check-box-form:checked + .label-text-check-box > .custom-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}
.label-text-check-box {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #8e8f99;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.privacy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color:  #4d5ae5;

}
.button-send {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bnt-send {
    display: block;

    width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);    
    color:#ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color:#4d5ae5;

    font-size: 16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing:0.04em;
    cursor:pointer;
}
.bnt-send:hover, .bnt-send:focus {
    background-color: #404bbf;
}
@media screen and (min-width:768px) {
    .modal {
        width: 408px;
        min-height: 584px;

        padding: 112px 24px 24px;
    }
    .form-box {
        width: 360px;
    }
}
@media screen and (min-width:1158px) {
    .modal {
        padding: 72px 24px 24px;
    }
    .input-wrapper input {
        padding-left: 38px;
    }
}