







.footer {
    padding: 100px 0;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color:#f4f4fd;
    background-color: #2e2f42;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.text {
max-width: 264px;
color: #f4f4fd;
}
.logo-text-1 {
    color:#f4f4fd;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}
.text-icons {
display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
margin-bottom: 16px;
}
.footer-social-icons {
    display: block;
    align-items: baseline;
    margin-left: 120px;
}
.footer-icons-item {
display: flex;
gap: 16px;
align-items: center;
}
.footer-icons-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    fill: #f4f4fd; 
    background-color: #4d5ae5; 
    border-radius: 50%; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-button:hover, .footer-icons-button:focus {
    background-color: #31D0AA; 
}
.footer-subscribe-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-left: auto;
    width: 453px;
    height: 80px;
}
.subscribe-title {
display: block;
flex-direction: column;
max-width: 100%;

font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
}
.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.subscribe-row {
    display: flex;
    align-items: center;
    gap: 24px;
}

input {
font-family: inherit;
}
.subscribe-email {
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}
.subscribe-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.subscribe-email[type="email"] {
border: 1px solid #ffffff;
border-radius: 4px;
width: 264px;
height: 40px;
padding: 8px 16px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: #2E2F42;
}
.subscribe-email[type="email"]:hover,
.subscribe-email[type="email"]:focus {
    border-color: #31D0AA;
    outline: none;
}
.subscribe-button { 
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;

display: flex;
align-items: center;
justify-content: center;

border-radius: 4px;
padding: 8px 24px;
gap: 16px;
min-width: 165px;
height: 40px;
border: none;
background-color: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor:pointer;
}
.subscribe-button:hover, .subscribe-button:focus {
    background-color: #31D0AA;
}
.send-icon {
    display: block;
    fill: #ffffff;
}
.modal-overlay {
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(46, 47, 66, 0.4);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 999;

pointer-events: none;
opacity: 0;
visibility: hidden;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: relative;

    width: 408px;
    min-height: 584px;

    background-color: #fcfcfc;
    border-radius: 4px;

    padding: 72px 24px 24px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.14),
                0 1px 3px rgba(0,0,0,0.12),
                0 2px 1px rgba(0,0,0,0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.icon-close-bnt {
position: absolute;
top: 24px;
right: 24px;
}
.close-bnt {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #2E2F42;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;

    transition: 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-bnt:hover,
.close-bnt:focus {
    fill: #ffffff;
    background-color: #404BBF;
}
.form-box {
border-radius: 4px;
width: 360px;
min-height: 336px;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form-box label {
font-weight: 400;
font-size: 12px;

line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;

display: block;
margin-bottom: 0;
}
.form-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.modal-text {
margin: 0 0 16px 0;

font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.input-wrapper {
    position: relative; 
}
.input-wrapper-position {
width: 100%;
height: 40px;
padding-left: 38px;
}
.icon-box {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 0px;
}
.person-icon {
    fill: #2e2f42;
    display: block;
}
.divider {
    width: 1.25px;
    height: 18px;
    background-color: #2e2f42;
    border-radius: 2px;
    margin-left: 0;
}
.input-wrapper:focus-within .person-icon {
    gap: 4px;
    fill: #4D5AE5;
}
.input-wrapper:focus-within .divider {
    background-color: #000000;
    margin-left: 4px; 
}
.input-wrapper input {
    width: 100%;
    height: 40px;

    padding-left: 38px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper input:focus {
    outline: none;
}
.phone-icon, .email-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    align-items: center;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus-within input {
    border-color: #4d5ae5;
}

.input-wrapper:focus-within .phone-icon,
.input-wrapper:focus-within .email-icon {
    fill: #4d5ae5;
}
.textarea-box {
display: block;
font-weight: 400;
font-size: 12px;
 
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);

margin-bottom: 0;
width: 100%;
height: 120px;

padding: 8px 16px;
resize: none;

border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-box:focus {
    border-color: #4d5ae5;
    outline: none;
}
.textarea-box:focus-within {
    outline: none;
}
.check-box {
    margin-top: 16px;
    margin-bottom: 24px;
}
.label-text-check-box {
display: flex;
align-items: center;
gap: 8px;

font-weight: 400;
font-size: 12px;

line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}
.privacy-link {
line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color:  #4d5ae5;
}
.custom-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;

    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);

    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-box-form:checked + .label-text-check-box > .custom-checkbox {
background-color: #404bbf;
fill: #f4f4fd;
border: none;
}
.button-send {
display: flex;
align-items: center;
justify-content: center;
}
.bnt-send {
    display: block;

    width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);    
    color:#ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color:#4d5ae5;

    font-size: 16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing:0.04em;
    cursor:pointer;
}
.bnt-send:hover, .bnt-send:focus {
    background-color: #404bbf;
}